{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content%}
{% load mathfilters %}
{% load humanize %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Details</h4>
                <h2>Single blog post</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->



    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{posts.image.url}}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{posts.tags.all|join:", "}}</span>
                      <a href="#"><h4>{{posts.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{posts.author}}</a></li>
                        <li><a href="#">{{posts.published_date|date:'d/M/Y'}}</a></li>
                        <li><a href="#">Comments: {{comments|length}}</a></li>
                        <li><a href="#">Views: {{posts.count_views}}</a></li>
                        
                      </ul>
                      {{posts.content|truncatewords:1|safe}}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              {% for cat in posts.category.all %}
								                <li><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %},{% endif %}</li>
							                {% endfor %}
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="pager">
                  {% if previous and previous.status %}
                  <li class="previous">
                    <a href="{% url 'blog:detail' pk=previous.id %}">&larr; Previous Post</a>
                  </li>
                  {% endif %}
                  {% if previous and not previous.status %}
                  {% countP previous as count %}
                  <li class="previous">
                    <a href="{% url 'blog:detail' pk=previous.id|sub:count %}">&larr; Previous Post</a>
                  </li>
                  {% endif %}
                  {% if next and next.status %}
                  <li class="next">
                    <a href="{% url 'blog:detail' pk=next.id %}">Next Post &rarr;</a>
                  </li>
                  {% endif %}
                  {% if next and not next.status %}
                  {% countN next as count %}
                  <li class="next">
                    <a href="{% url 'blog:detail' pk=next.id|add:count %}">Next Post &rarr;</a>
                  </li>
                  {% endif %}
                </ul>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{{comments|length}} comments</h2>
                    </div>
                    <div class="content">
                      {% for comment in comments %}
                      <ul>
                        <li>
                          <div class="author-thumb">
                            <img src="{% static 'assets/images/comment-author-01.jpg' %}" alt="">
                          </div>
                          <div class="right-content">
                            <h4>{{comment.name}}<span>{{comment.created_date|naturaltime}}</span></h4>
                            <p>{{comment.message}}</p>
                          </div>
                        </li>
                        
                      </ul>
                      {% endfor%}
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      <div class="comment-form">
                        <h4>Leave a Comment</h4>	
                        
                        <form  method="POST" action="{% url 'blog:detail' pk=posts.id %}">
                        {% csrf_token %}
        
                          <input type="hidden" name="post" value="{{posts.id}}">
                          {% if request.user.is_authenticated %}
                          <input type="hidden" name="name" value="{{request.user.first_name}}">
                          <input type="hidden" name="email" value="{{request.user.email}}">
                          {% else %}
                          <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-12 name">
                              <input type="text" class="form-control" name="name" placeholder="Enter Name"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                            </div>
                            <div class="form-group col-lg-6 col-md-12 email">
                              <input type="email" class="form-control" name="email"
                                placeholder="Enter email address" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Enter email address'">
                            </div>
                          </div>
                          {% endif %}
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                          </div>
                          <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                              required=""></textarea>
                          </div>
                          
                          <button type="submit" class="primary-btn text-uppercase">Post Comment</button>
                        </form>
                        
                      </div>
                      <!--
                      <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="name" type="text"  placeholder="Your name" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="email" type="text"  placeholder="Your email" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="subject" type="text"  placeholder="Subject">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6"  placeholder="Type your comment" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit"  class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>

                {% include 'tag-clouds.html' %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}